<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Elektronikus tanulmányi rendszer</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-content">
					<img src="/icons/icon-128.webp" alt="" />
					<div class="user-info">
						<a href="/logout"><img src="/icons/logouticon.svg" alt="Kijelentkezés gomb" title="Kijelentkezés" /></a>
					</div>
				</div>
			</div>
		</header>

		<nav>
			<div class="container">
				<ul class="nav-menu">
					<li><a href="/">Áttekintés</a></li>
					<li><a href="/courses">Kurzusaim</a></li>
					<li><a href="/tasks">Feladatok</a></li>
					<li><a href="/messages" class="active">Üzenetek</a></li>
				</ul>
			</div>
		</nav>
	</body>
</html>
